*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


/*Header*/
#logo {
    float: left;
    display: block;


}

#logo img {
    width: 200px;
    height: 100px;
}

header {
    background: white;
    width: 100%;
    height: 82px;
}

header nav {
    float: right;
    margin-right: 80px;
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 40px;

    color: black;

}

nav a {
    text-decoration: none;
    margin-right: 20px;
    padding: 4px;
    color: black;
    border-bottom: 10px solid white;


}

header nav a:hover {
    background-color: grey;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 40px;
    font-size: 18pt;
    margin-top: 50px;

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header nav button {
    height: 60px;
    color: black;
    font-weight: bold;
    width: 120px;
    background-color: darkgoldenrod;
}
.slide1{
    height: 30%;
    width: 100%;
    overflow: hidden;
    border: 6px solid #fff;
}
.slide1 img{
    height: 30%;
    width: 100%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}
.slide1 img:hover{
    transform: scale(1.3);
    filter: grayscale(2%);
}

.text-box h1{
    font-size:280px;
    line-height: 200px;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 1px grey;
    background:url(./wed\ back.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation : back 20s linear infinite ; 
}
@keyframes back{
    100%{
        background-position: 2000px 0; 
    }
}

.container{
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    width: 1300px;
    padding:30px;
    background:black;
    font-size: sans-serif;
    top:250%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px #a85432;
}
.circle{
    width: 500px;
    height: 400px;
    background: url(./moonji.jpg);
    border-radius: 60%;
    float: left;
    shape-outside:circle() ;
    margin: 80px 30px 30px 0;
    margin: 70px 30px 30px 0;
    background: cover;
    background: url(./moonji.jpg);
   
    
}
.para{
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 36px;
    color: darkgoldenrod;
    background-color: black;
    font-size: 20px;
}
.hd{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    color: gray;
    justify-content: center;
    background-color: black;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 700px;
    background-color: black;
    

}

.container1 img{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: 400ms;
    width: 400px;
    height: 500px;
    margin-top: 700px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 0px #00000042;
    cursor: pointer;
    margin: 10px;
}
.par{
   
    text-align: justify;
    font-size: larger;
    align-content: center;
    padding: 1% 0% 2% 5%;
    font-size:25px;
}
.par ul{
    padding-top: 1%;
    line-height: 20px;
    margin: 10px;
}
ul li{
    margin: 2%;
} 
/*Third section of wedding page*/
#head{
    font-family: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
    text-align:center;
    font-size: 50px;
    font-weight: 100;
    color: #333;
}
.container2{
    width: 80%;
    height: 600px;
    display: flex;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 100px;
    background-image: url(./red\ flower.jpg);
    background-size: cover;
    align-items: center;
    margin-right: 50px;
    
   
}
.container3{
    width: 800px;
    height: 540px;
    display: flex;
    border: 3px solid;
    margin-top: 50px;
    margin-left: 230px;
    background-color:  #984848bb;
    flex-direction: column;
    border: 2px black solid;
}
.tit{
    
    font-size: 50px;
    color: #000;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    background-color:  #984848bb;
    margin-right: 260px;
    justify-content: center;
    margin-left: 40px;
   }
    
.card-info{
    font-size: 20px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
    font-size: small;
    font-size: 20px;
    color: #333;
    font-family: Cambria,Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin: 10px;
    margin-top: 30px;
    margin-left: 25px;
    background-color: #984848bb;
    color: #000;
}
/*Footer*/
.footer{
    height: 50vh;
    width: 100%;
    background-color: #121b25;
    padding: 50px 8% 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 3.5rem;
    background: #121b25;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .footer-content{
    background-color: #121b25;
  }
  .footer-content h4{
    margin-top: -10%;
    font-size: 22px;
    background-color: #121b25;
    color: #fff;
    
  }
  .footer-content .lst{
    margin-bottom: 2px;
    padding-top: 4%;
    background-color: #121b25;

  }
  .footer-content  a{
    
    font-size: 16px;
    font-weight: 400;
    background-color: #121b25;
    color: #fff;
  }
   .go{
     height: 40px;
      font-weight: bold;
      width: 120px;
      font-weight: 400;  
   }






